#map {   
    margin: auto; 
    width: 100%;
        height: 70vh;
        margin-top: 0;
        border-radius: 1rem;  
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
        font-size: 14px !important;
        font-family: 'Roboto', sans-serif;
        color: #595f6f;
    }

      .website-wrapper {
        height: 100vh;
        padding: 0;
      }

      .explanation {
        padding-top: 50px;
        padding-left: 50px !important;
        padding-right: 50px !important;
        padding-bottom: 50px;        
      }

      .content-wrapper {
        margin-top: 5%;
        padding-left: 15px;
        padding-right: 15px;
        min-height: 70vh;
      }

      .telegram-button {
        margin-bottom: 1rem;
        margin-right: 1rem;
      }

      .selected-statistics {
      	margin-top: 50px;
      }

/*----------------------------FOOTER STYLES----------------------------*/
.social-icons a {
    border: 2px solid #f6f8f9;
    border-radius: 25px;
    width: 40px;
    height: 40px;
    line-height: 38px;
}
.social-icons a i {
    color: #cdd0d4;
}
.social-icons a:hover {
    border: 2px solid #5d86de;
}
.social-icons a:hover i {
    color: #5d86de;
}


footer {
	margin-top: 100px;
	margin-bottom: 40px;
}
